body {
    background-color: rgb(245, 245, 236);
}

.logo {
    text-align: center;
}

#logo {
    color: rgb(172, 181, 175);
    font-family: monospace;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

#logo:hover {
    border: 10px dotted rgb(235, 217, 209);
    padding: 0px;
}

.header {
    color: rgb(146, 156, 158);
    font-family: monospace;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.header.subheader {
    color: rgb(177, 188, 190);
    font-size: 24px;
    text-align: left;
}

.text {
    color: rgb(111, 110, 105);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipes {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 20px;
}

.icon img {
    height: 350px;
    width: auto;
    border-radius: 5px;
}

.index.icon img {
    border: 10px solid rgb(235, 217, 209);
}

.index.icon img:hover {
    border: 10px dotted rgb(172, 181, 175);
}

.recipe.icon img {
    border: 10px dotted rgb(235, 217, 209);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: auto;
}



